@media screen and (min-width: 992px) {
  #sidebar-menu span,
  #sidebar-menu hr,
  .add-playlist,
  .logo,
  .playlist {
    display: inline-block;
  }

  .logo-small {
    display: none;
  }

  #sidebar-menu {
    flex-basis: 150px;
  }

  #sidebar-menu .navigation ul img {
    width: 25%;
    padding-right: 5px;
  }

  #sidebar-menu img.download {
    width: 18%;
  }

  .playlist {
    flex-grow: 6;
  }

  .fa-plus {
    padding: 6px 8px;
    color: black;
    margin-right: 10px;
    background-color: #858585;
  }
}
