@media screen and (min-width: 992px) {
  #sidebar-menu span,
  #sidebar-menu hr,
  .add-playlist,
  .logo,
  .playlist {
    display: inline-block;
  }

  .logo-small {
    display: none;
  }

  #sidebar-menu {
    flex-basis: 150px;
  }

  #sidebar-menu ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }

  #sidebar-menu .navigation ul img {
    width: 25%;
  }

  #sidebar-menu img.download {
    width: 18%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
  }

  .nav-items {
    display: flex;
  }

  .playlist {
    flex-grow: 6;
  }

  .fa-plus {
    padding: 20px;
    color: black;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #858585;
  }
}
