/* SMALL DEVICE */

@media screen and (min-width: 576px) {
  #sidebar-menu span,
  #sidebar-menu hr,
  .add-playlist,
  .playlist {
    display: inline-block;
  }

  .logo {
    display: inline;
    width: 80%;
  }
  .logo-small {
    display: none;
  }

  #sidebar-menu {
    flex-basis: 230px;
    padding: 16px 8px;
  }

  #sidebar-menu .navigation ul img {
    width: 100%;
  }

  .nav-items a {
    width: 30px;
  }

  .playlist {
    flex-grow: 6;
    margin: 10px;
  }

  .playlist ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .add-playlist {
    margin: 10px;
  }

  .add-playlist .title {
    padding: 10px 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }

  .fa-plus {
    font-size: 20px;
    padding: 10px;
    color: black;
    background-color: #858585;
  }

  .profile ul li:last-child a {
    font-weight: bold;
    color: #ffff;
  }
}

/* TABLET DEVICE */

@media screen and (min-width: 768px) {
  .container-album .card img,
  .for-you .card img,
  .artist .card img {
    max-width: 150px;
  }

  .container-album .album {
    width: calc((100% - 40px) / 5);
  }

  .artist .album,
  .for-you .album {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    font-size: 14px;
    color: #ffff;
  }
}

/* DESKTOP DEVICE */

@media screen and (min-width: 992px) {
  #content-menu {
    justify-content: center;
  }

  .container-album {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 40px;
  }

  .container-album .album {
    width: calc((100% - 40px) / 6);
  }
}
